a:hover {
  color: #ff0f7b;
}
.ded {
  text-align: right;

  padding: 10px;
  padding-right: 50px;

  background: linear-gradient(#ff0f7b, #f89b29);
  height: 10%;

  border-radius: 26px 26px 0 0;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
body {
  width: 80%;
  height: 600px;
  margin-left: 10%;
  border: 5px double rgb(90, 114, 171);
  border-radius: 30px;
  background-color: antiquewhite;
}
.rar {
  padding: 20px;
  height: 83%;
  font-size: 20px;

  border-radius: 0 0 26px 26px;
  color: #551a8b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  align-items: center;
}
html {
  background-color: black;
}
table {
  border: 1px solid rgb(90, 114, 171);
  border-collapse: collapse;
  padding: 10px;
  height: 300px;
  margin: 20px;
}
td,
th {
  border: 1px solid rgb(90, 114, 171);
  border-collapse: collapse;
  padding: 10px;
  color: rgb(90, 114, 171);
}
